@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body, html{
  overflow: hidden; /* Prevent scrollbars */
  position: relative;
  touch-action: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu",sans-serif, serif;
  letter-spacing: 4px;
  height: 100;

}

:root{
  --primary-color:#E6D7B3;
  --secondary-color:  #e1f340;
  --tertiary-color:#e1f340;
  --quaternary-color: #1A3928;
  --white-color: #fff;
}


